*.mp4 filter=lfs diff=lfs merge=lfs -text
offleashvid_demo.mp4 filter=lfs diff=lfs merge=lfs -text
offleashdemo_vid.mp4 filter=lfs diff=lfs merge=lfs -text
public/offleashvid_demo filter=lfs diff=lfs merge=lfs -text
public/offleashvid_demo.mp4 filter=lfs diff=lfs merge=lfs -text
